@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body {
    font-family: 'Comfortaa', cursive;
}

.title {
    text-align: center;
    margin-top: 15px;
}

.gif-search {
    margin-top: 15px;
}

.gif-results {
    margin-top: 15px;
    height: 75vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.add-btn {
    margin-top: 15px;
}

.new-btn {
    margin: 5px;
}

.item {
    margin-top: 15px;
    

}

